<h1>Admin::Dashboard#show</h1>
<div class="panel panel-default items">
  <h2 class="text-info text-center">This website has a total of <%=@product_count%> <%=link_to 'products', 'admin/products/'%></h2>
  <h2 class="text-info text-center">Over <%=@category_count%> categories</h2>
</div>

