<h1>About Us</h1>
<section>
  <h2>HELLO FRIENDS AND WELCOME TO JUNGLE</h2>
  <div>
    <p>Stay on this page to find out more information about Jungle App</p>
    <p>I hope you had fun:)</p>
  </div>
</section>
